@model IEnumerable<Teams>

<a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home" asp-route-teamName="">Home</a>
<br />

@foreach (var x in Model)
{
    <a class="btn btn-block @(x.TeamName == ViewBag.SelectedTeam ? "btn-primary" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home" asp-route-teamId="@x.TeamId" asp-route-teamName="@x.TeamName">@x.TeamName</a>
    <br />
}